<h2>Cadastro</h2>

<div class="card-container">
  <form [formGroup]="profileForm" (ngSubmit)="saveEmpresa()">
    <div class="form-group mt">
      <label for="nome">Name:</label>
      <input
        [ngModel]="empresa.nome"
        title="Nome"
        formControlName="nome"
        type="text"
        class="form-control"
        id="nome"
        placeholder="Digite o nome da empresa"
        name="nome"
      />
    </div>

    <div class="form-group mt">
      <label for="razaoSocial">Razão Social</label>
      <input
        [ngModel]="empresa.razaoSocial"
        title="Razão Social"
        formControlName="razaoSocial"
        type="text"
        class="form-control"
        id="razaoSocial"
        placeholder="Digite a razão social"
        name="razaoSocial"
      />
    </div>

    <div class="form-group mt">
      <label for="email">Email</label>
      <input
        [ngModel]="empresa.email"
        title="Email"
        [class.is-invalid]="
          profileForm.get('email')?.invalid && profileForm.get('email')?.touched
        "
        formControlName="email"
        type="email"
        class="form-control"
        id="email"
        placeholder="Digite o email"
        name="email"
      />
    </div>

    <div class="form-group mt">
      <label for="cnpj">CNPJ</label>
      <input
        [ngModel]="empresa.cnpj"
        title="CPF / CNPJ"
        formControlName="cnpj"
        type="text"
        class="form-control"
        id="cnpj"
        placeholder="00.000.000/0000-00"
        name="cnpj"
        [imask]="{ mask: '00.000.000/0000-00' }"
      />
    </div>
    <button
      type="submit"
      [disabled]="!profileForm.valid"
      class="btn bg-success bmtb"
    >
      Salvar
    </button>
    <!-- <p>Form Status: {{ profileForm.status }}</p> -->
  </form>
</div>
<div class="card-container lista">
  <div *ngIf="messagem" class="massagem alert alert-{{ status }}" role="alert">
    {{ messagem }}
  </div>
  <h2>Empresas</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Razão social</th>
        <th scope="col">Email</th>
        <th scope="col">Data inicial</th>
        <th scope="col">Última atualização</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresas">
        <td>{{ empresa.id }}</td>
        <td>{{ empresa.nome }}</td>
        <td>{{ empresa.razaoSocial }}</td>
        <td>{{ empresa.email }}</td>
        <td>{{ converterDate(empresa.dataCriacao) }}</td>
        <td>
          <span *ngIf="empresa.dataAtualizacao">{{
            converterDate(empresa.dataAtualizacao)
          }}</span>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-warning btn-sm mlr"
            (click)="editarEmpresa(empresa)"
          >
            Editar
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm ml-1 mlr"
            (click)="excluirEmpresa(empresa)"
          >
            Deletar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
